* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: $primary-bg-color;
    font-family: $main-font;
    color: $primary-font-color;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    cursor: pointer;
    color: #428bca;
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

code {
    white-space: pre-wrap;
    font-size: 12px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none;
}

.browserupgrade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ccc;
    padding: 0.5em 0;
}

.page-wrapper {
    height: 100%;
    width: 100%;
    padding: 50px 30px;
}

