@mixin debug-color($color: rgba(0,255,0,0.1)) {
    background-color: $color;
}

@mixin ellipsis($width: 100%) {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
